/* Cores Itens Primary */
$btn-bg-primary: #3498db;
$btn-border-primary: #3498db;
$btn-color-primary: #3498db;

/* Cores Itens Warming */
$btn-bg-warning: #e67e22;
$btn-border-warning: #e67e22;
$btn-color-warning: #e67e22;

/* Cores Itens Info */
$btn-bg-info: #1abc9c;
$btn-border-info: #1abc9c;
$btn-color-info: #1abc9c;

/* Cores Itens Danger */
$btn-bg-danger: #e74c3c;
$btn-border-danger: #e74c3c;
$btn-color-danger: #e74c3c;

